<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IChatable" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/Design_Time_Addresses/Chat_Library/Chatable/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IChatable"
                contract="Chat.IChatable" name="BasicHttpBinding_IChatable" />
        </client>
    </system.serviceModel>
</configuration>